/*general styling*/
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
​
body {
  margin: 0 !important;
  height: 100%;
  color: #333;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
​
*:focus {
    outline: none !important;
}



/*sign in styling*/
.sign-in-container{
	height: 100vh;
	width: 100%;
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
/*	display: none;*/
}

.modal{
	height: 43rem;
	width: 35rem;
	border-radius: 5px;
	border-top: .5px #dedede solid;
	border-left: .5px #dedede solid;
	box-shadow: 5px 5px 5px #dedede;
	background-color: #fff;
	padding: 1rem;
}

h2{
	margin-bottom: 1.5rem;
	color: #00bad2;
	font-weight: normal;
}

.enter-names{
	display: flex;
	flex-direction: column;
}

.input{
	border: none;
	border-bottom: 1px #333 solid;
	padding: .5rem 1rem .4rem .25rem;
	font-size: 1rem;
	margin-bottom: 2rem;
}
.input:focus { 
    outline: none;
    border-bottom: 1px #00bad2 solid;
}

.avatar-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.avatar-icons{
	height: 80px;
	width: 80px;
	margin: 1rem;
}
.avatar-wrapper .avatar-icons:hover, .selected{
	border: 3px solid #84ffff;
	border-radius: 50px;
}

.button-wrapper{
	text-align: right !important;
}

.user-submit{
	font-size: 1.25rem;
	padding: .75rem 1rem;
	margin: 2rem 0;
	margin-right: .5rem;
	border: none;
	background-color: #00bad2;
	color: #fff;
	border-radius: 25px;
}

.user-submit:hover{
	background-color: #84ffff;
	color: #333;
}

.user-submit:focus{
	outline: none;
}

footer{
	height: 3rem;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

a{
	text-decoration: none;
	color: #00bad2;
}

/*header styling*/
header{
	height: 6.5rem;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: .5px #dedede solid;
}

.username h2{
	margin-bottom: 0;
}


/*main game styling*/
.main-game-container{
	height: 100vh;
	width: 100%;
	background-color: #eee;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.game-container{
	width: 60%;
	text-align: center;
	margin-right: 10rem;
}

canvas {
	background-color: #fff;
    width: 1000px;
    height: 600px;
    border: 1px #C7CACD solid;
    margin: 0 auto;
    border-radius: 5px;
    border: .5px #dedede solid;
}

#guess-input{
	width: 660px;
	margin-bottom: 0;
	margin-right: 2rem;
	border-radius: 5px;
	font-size: 1.25rem;
	padding: .75rem 1rem;
	border-bottom: none;
	border: .5px #dedede solid;
}

.make-guess{
	text-align: center;
}

.make-guess button{
	background-color: #00bad2;
	color: #fff;
	font-size: 1.25rem;
	padding: .75rem 1rem;
	margin: 2rem 0;
	border: none;
	border-radius: 5px;
	border: .5px #dedede solid;
}

.make-guess button:hover{
	background-color: #84ffff;
	color: #333;
}

.make-guess button:focus{
	outline: none;
}

.chat-container{
	background-color: #fff;
	border: .5px #dedede solid;
	height: 600px;
	width: 300px;
}